<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ridemetric.motionlib"
    android:versionCode="30"
    android:versionName="1.527" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="21" />

    <!--
         these permissions can be removed if we do not 
         need to monitor  cell id and phone state and log the measurements
    -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- this is used for acra report -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- *** end of screens definitions -->
    <!--
 allowBackup is set to false because we do not want for the compteitors to see 
          our database by using adt backup
    -->
    <application android:allowBackup="false" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--
             zs: add to all activities below android:screenOrientation="portrait"    
             which will disable auto-orientation for these activities
             if autoorientation is disabled on create is not relaunched after 
             rotating the phone
        -->


        <!-- ============== SENSE USAGE ACTIVITIES -->
        <!--
             we specify "singleTask" to make sure that if the instance of the activity
             already exists in separate task, the system routes the intent to the existing 
             instance through a call to its onNewIntent() method, rather than creating 
             a new instance. Only one instance of the activity can exist at a time.
             Note: Although the activity starts in a new task, 
             the Back button still returns the user to the previous activity
        -->

        <activity
            android:name="com.ridemetric.motionlib.senseUsage.SenseUsage"
            android:label="RideMetric - Sense"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ridemetric.motionlib.senseUsage.ReminderScreen"
            android:label="RideMetric - Sense"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>

                <!-- can be used as an entry point to apk -->
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- RegisterBluetooth activity -->
        <activity
            android:name="com.ridemetric.motionlib.senseUsage.RegisterBluetooth"
            android:label="Register Bluetooth"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />

        <!--
        commented these activities and replaced them uiTest project as modified
        under cr 111 
        <activity
            android:name="com.ridemetric.view.activities.SenseUsageAbout"
            android:label="About RideMetric"
         	android:theme="@android:style/Theme.Dialog">
        </activity>
        
        <activity
            android:name="com.ridemetric.view.activities.SenseUsageSettings"
            android:screenOrientation="portrait" 
            android:label="RideMetric - Settings">
        </activity>
        -->


        <!--
       <activity
            android:name="com.ridemetric.view.activities.SenseUsageAbout"
            android:label="@string/text_about">
        </activity>

        <activity
            android:name="com.ridemetric.view.activities.SenseUsageSettings"
            android:theme="@style/HoloTheme">
        </activity>
        -->


        <!--
             single top for activity below is not needed and because of this 
             is commented. android:launchMode="singleTop"
             we use android:configChanges="keyboardHidden|orientation">
             not to restart the activity when when orientation changes
             or keyboard...              
        -->


        <!--
        here I am not sure if android:screenOrientation="portrait" should 
		be added
        -->
        <activity
            android:name="com.ridemetric.motionlib.senseUsage.ConfigContactsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="RideMetric - History" >
        </activity>
        <activity
            android:name="com.ridemetric.motionlib.senseUsage.DemScreenSettings"
            android:label="Demonstration Settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ridemetric.motionlib.senseUsage.SmsReceivedDialog"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- ============== DEMONSRATION ACTIVITIES -->

        <activity
            android:name="com.ridemetric.motionlib.demonstration.ControlService"
            android:label="ControlService"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>

                <!-- can be used as an entry point to apk -->
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ridemetric.motionlib.demonstration.ControlServicePreferences"
            android:label="Preferences"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ridemetric.motionlib.demonstration.DebugSettings"
            android:label="Debug Settings"
            android:screenOrientation="portrait" />

        <!-- administration activities -->
        <activity
            android:name="com.ridemetric.motionlib.demonstration.AdminControllerActivity"
            android:label="AdminPolicy"
            android:screenOrientation="portrait" >

            <!--
            we do not need this because we want this that it will
            not start as a separate task  
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
            -->
        </activity>

        <!--
        Registaration of AdminReceiver has to be done dynamically 
        in the app otherwise this app will get activated every time when 
        device amdin enalbed
        =====================================================
        -->

        <receiver
            android:name="com.ridemetric.motionlib.admin.AdminReceiver"
            android:description="@string/sample_device_admin_description"
            android:label="@string/sample_device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >

            <!--
             The name of the meta-data has to be "android.app.device_admin"
             despite that from the documentation it is not that clear
            -->
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <!--
        Registaration of this receiver has to be done here and not
        dynamically because at this stage the app is not running 
        =====================================================
        -->

        <receiver android:name="com.ridemetric.motionlib.serviceMotion.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!--
        Registaration of this receiver preferably should be done
        in the app itself to save some battery that caused by the receiver
        looking always for shutdown even when the app is not running.
        =====================================================
        -->
        <receiver android:name="com.ridemetric.motionlib.serviceMotion.ShutdownReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.ridemetric.motionlib.serviceMotion.ServiceMotion"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.ridemetric.motionlib.serviceMotion.ServiceMotion" />
            </intent-filter>
        </service>
    </application>

</manifest>